<ion-modal-view>
	<ion-header-bar>
		<h1 class="title">My Modal title</h1>
	</ion-header-bar>
	<ion-content>

		<ion-list>
		
			<ion-item class="item-input"><span class="input-label">First</span>
				<input type="text" ng-model="vm.selectedPlayer.FirstName"></ion-item>
			<ion-item class="item-input"><span class="input-label">Last</span>
				<input type="text" ng-model="vm.selectedPlayer.LastName"></ion-item>
			<ion-item class="item-input"><span class="input-label">GradYr</span>
				<input type="text" ng-model="vm.selectedPlayer.GradYr"></ion-item>
			
			<ion-item>
			<div class="button-bar">
			  <a class="button button-assertive" ng-click="closeModal()">Cancel</a>
			  <a class="button button-balanced" ng-click="savePlayer()">Save</a>
			</div>		
			</ion-item>
			
		</ion-list>
	
	</ion-content>
</ion-modal-view>
